@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700,900');

@-webkit-keyframes bg_site {
	0%{background-position:0% 99%}
	50%{background-position:100% 2%}
	100%{background-position:0% 99%}
}
@-moz-keyframes bg_site {
	0%{background-position:0% 99%}
	50%{background-position:100% 2%}
	100%{background-position:0% 99%}
}
@keyframes bg_site { 
	0%{background-position:0% 99%}
	50%{background-position:100% 2%}
	100%{background-position:0% 99%}
}

@keyframes bg_site_c { 
	0%{background-color:#e6dbec}
	50%{background-color:#69439a}
	100%{background-color:#e6dbec}
}

*:focus {
	outline: none;
}

html {
	height: auto;
	min-height: 100%;
}

body {
	/*padding-top: 60px;*/
	background-color: #fff;
}

body, html {
	min-height: 100%;
	height: auto;
	/*height: 2500px;*/
}

label {
	font-size: 1rem !important;
}

input, textarea {
	color: #5C478C;
}

.form_messages {
	margin: 10px 0;
	padding: 5px;
}

.form_messages .error {
	color: #F44336;
	font-weight: 500;
	padding: 5px 0;
}

.input-field {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.btn_login_site {
	width: 49%;
	float: left;
}

.btn_login_site:last-child {
	margin-left: 2%;
}

.centered_container {
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%) !important;
}

.container_login {
	/*box-shadow: 0 1px 10px 2px rgba(0,0,0,.3);*/
	padding: 25px 20px !important;
	background-color: #fff;
}

.img_container {
	position: relative;
	width: 100%;
	height: 300px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 20px;
	border-radius: 3px;
}

.img_bg_container {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.link_voltar_site {
	color: #6a449b;
	font-size: 15px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.link_voltar_site i {
	vertical-align: bottom;
	font-size: 15px;
	padding-right: 3px;
}

.link_voltar_site:hover {
	text-decoration: underline;
}

.info_login p {
	font-family: "Roboto Condensed";
	font-size: 21pt;
	font-weight: bold;
	color: #6a449b;
	text-align: right;
	padding-right: 9px;
}

.info_login p > i {
	color: #6a449b;
	vertical-align: bottom;
	margin-right: 5px;
}

.row_botoes_login {
	margin-bottom: 5px;
}

.link_recupera_senha {
	margin-bottom: 0;
}

.link_recupera_senha a {
	color: #6a449b;
	vertical-align: -webkit-baseline-middle;
}

.link_recupera_senha a:hover {
	text-decoration: underline;
}

#cabecalho {
	background-color: #fff;
	height: 100px;
	z-index: 50;
	width: 100%;
	transition: box-shadow, height linear 0.1s;
}
#cabecalho.sticky {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 1px 17.3px rgba(0,0,0,.25);
	height: 50px;
}

#med_header {
	height: 40px;
	background-color: #69439A;
	position: relative;
	box-shadow: 0 1px 17.3px rgba(0,0,0,.25);
	z-index: 51;
}

.icone_menu_cabecalho {
	font-size: 28pt;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	vertical-align: middle;
	padding: 0px 10px;
	text-align: center;
}

#logo_home {
	max-height: 100%;
	padding: 15px 0;
	padding-left: 10px;
}

#cabecalho.sticky #logo_home {
	padding: 5px 0;
	padding-left: 10px;
}

#slider_home {
	height: 450px;
	position: relative;
	background: linear-gradient(to bottom left, #69439A, #2e1e44);
}

#slider_home #controles {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding-bottom: 10px;
}

#slider_home #controles .controle {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #C1A6FF;
	margin-right: 3px;
	box-shadow: 0 1px 17.3px rgba(0,0,0,.25);
	cursor: pointer;
	transition: all linear 0.2s;
}

#slider_home #controles .controle:hover, #slider_home #controles .controle.current {
	background-color: #fff;
}

#slider_home #controles .controle:last-child {
	margin-right: 0;
}

#container_menu {
	padding: 0.75rem;
}

#menu_lateral_site {
	border-radius: 5px;
	box-shadow: 0 1px 17.3px rgba(0,0,0,.25);
	transition: all linear 0.2s;
}

#menu_lateral_site:hover {
	box-shadow: 0 5px 30px 3px rgba(0,0,0,.3);
}

#menu_lateral_site li.item_menu_lateral {
	background-color: #E6DBEC;
	border-bottom: 1px solid #e4c9f3;
	border-top: 1px solid #f1e7f7;
	transition: all linear 0.1s;
}

li.item_menu_lateral:first-child {
	border-radius: 4px 4px 0 0;
}

li.item_menu_lateral:last-child {
	border-radius: 0 0 4px 4px;
}

#menu_lateral_site li.item_menu_lateral a {
	padding: 10px 15px;
	font-size: 13pt;
	display: inline-block;
	width: 100%;
	color: #614784;
	font-family: "Century Gothic";
	transition: all linear 0.1s;
}

#menu_lateral_site li.item_menu_lateral:hover {
	border-color: #b9a3eb;
}

#menu_lateral_site li.item_menu_lateral a:hover {
	background-color: #B9A3EB;
	color: #fff;
}

#menu_topo {
	display: inline-block;
	width: auto;
	min-width: 741px;
	height: 40px;
	/*overflow: hidden;*/
	position: absolute;
	left: 130px;
	top: 0;
	z-index: 51;
	font-size: 0;
}

#menu_topo.sticky {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	height: 50px;
	text-align: center;
}

#menu_topo > li {
	height: 40px;
	display: inline-block;
}

#menu_topo.sticky > li {
	height: 50px;
}

#menu_topo > li > a {
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	color: #d9bcff;
	font-family: Roboto Condensed;
	font-size: 12pt;
	font-weight: 100;
	transition: all linear 0.2s;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#menu_topo.sticky > li > a {
	color: #69439A;
	height: 50px;
	line-height: 50px;
}

#menu_topo > li > a:hover {
	background: #E6DBEC;
	color: #69439a;
}

#dropdown_sobrenos > li > a,
#dropdown_atividades > li > a {
	font-family: Roboto Condensed;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 11pt;
}

.main_site_container {
	/*width: 70%;*/
	padding: 0;
	margin-top: 80px !important;
	background-color: #fff;
	margin-bottom: 50px !important;
}

.login_site_container {
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.login_site_container > .row {
	margin-bottom: 0;
}

.login_site_container > .row,
.login_site_container > .row > .col.s6 {
	height: 100%;
	position: relative;
}

.vertical_divider {
	width: 1px;
	height: 80%;
	margin: 0 !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(to bottom, #fff, #7e57c2, #fff);
	border-radius: 50%;
}

.article_section {
	font-family: 'Open Sans',sans-serif;
	font-size: 1em;
	line-height: 26px;
	color: #777;
	font-weight: 400;
	text-align: justify;
}

.article_section p b {
	color: #69439A;
}

.article_section h2 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 2em;
	color: #69439A;
}

.divider.article_divider {
	margin-top: 36px;
	height: 2px;
	background: linear-gradient(to right,
		rgba(105, 67, 154, 0),
		rgba(105, 67, 154, 1),
		rgba(105, 67, 154, 0));
}

.divider.article_divider.no-margin {
	margin-top: 0;
}

.main_section {
	background-image: url(http://localhost/farol/img/bg_home.jpg);
	display: inline-block;
	height: 662px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.fundo_degrade {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #e6dbec;
	/*background-position:0% 99%;*/
	/*background-color: #e6dbec;*/
	/*transition: all linear 1s;*/
}

.fundo_animado {
	/*background: linear-gradient(45deg, #69439a, #e6dbec);*/
	/*background-size: 400% 400%;*/
	-webkit-animation: bg_site_c 8s ease infinite;
	-moz-animation: bg_site_c 8s ease infinite;
	animation: bg_site_c 8s ease infinite;
}

.invisible {
	opacity: 0;
}

.btn.btn_table_action {
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

.btn.btn_table_action i {
	vertical-align: bottom;
	padding-right: 10px;
}
#alunos_visualizar_table {
	font-family: Roboto;
	text-align: left;
}

#alunos_visualizar_table thead {
	background-color: #5C478C;
	color: #fff;
}

#alunos_visualizar_table.has_sub_head thead {
	background-color: transparent;
	color: #5c478c;
	font-weight: bold;
	font-size: 12pt;
}

#alunos_visualizar_table td,
#alunos_visualizar_table th {
	padding: 15px;
	border-radius: 0 !important;
}

.menu_lateral_sistema li:not(:first-child):hover {
	background-color: #f2eaf7;
}

#alunos_visualizar_table.has_sub_head tbody tr {
	border: none !important;
}

#alunos_visualizar_table tbody tr {
	transition: all linear 0.2s;
	cursor: pointer;
}

#alunos_visualizar_table tbody tr:nth-child(odd) {
	background-color: #E6DBEC;
}

#alunos_visualizar_table tbody tr:nth-child(even) {
	background-color: #eee;
}

#alunos_visualizar_table tbody tr:hover {
	background-color: #dccce5;
	border-color: transparent;
}

#alunos_visualizar_table.has_info_lines tbody tr td {
	min-height: 60px;
}

#alunos_visualizar_table tbody tr.linha_mes_agenda {
	background-color: #5c478c;
	color: #fff;
	font-size: 14pt;
	font-weight: 400;
	cursor: default;
}

#alunos_visualizar_table tbody tr.linha_espaco {
	height: 30px;
	background: transparent;
	border: none !important;
	cursor: default;
}

#alunos_visualizar_table tbody tr.linha_agenda_expandir b {
	color: #5c478c;
}

.row.row_matricula_agenda,
.row.row_descricao_agenda {
	margin-bottom: 0;
}

.linha_cadastro_visualizar a:hover {
	text-decoration: underline;
}

#alunos_visualizar_table tbody tr.linha_info_agenda {
	cursor: default;
}

.linha_info_agenda p {
	color: #5c478c;
	padding-top: 2px;
	padding-bottom: 2px;
}

.btn {
	font-family: Roboto;
}

.btn_year.curyear,
.btn_year.curyear:hover {
	color: #7e57c2;
	background: transparent;
	border: 1px solid #7e57c2;
	font-weight: 600;
	box-shadow: none;
	cursor: default;
}
nav#caminhodepao {
	position: absolute;
	left: 0;
	top: 140px;
	padding: 10px 20px;
	height: 50px;
	line-height: 30px;
	background-color: #69439a;
}
.page_title {
	height: 50px;
	line-height: 50px;
	font-size: 26pt;
	font-weight: bold;
	color: #69439a;
	vertical-align: middle;
	margin-bottom: 20px;
}

.page_title i {
	font-size: 26pt;
	vertical-align: middle;
	margin-right: 10px;
}

.bg_menu_alunos img {
	max-width: 100%;
}

#cabecalho_alunos {
	height: 60px;
	width: 100%;
	background-color: #69439a; 
	margin-bottom: 0;
	position: fixed;
	top: 0;
	left: 0;
}

#cabecalho_alunos img {
	height: 60px;
	padding: 10px 20px;
}

#menu_alunos {
	top: 60px;
}

#menu_alunos li a, #menu_alunos li a i {
	transition: all linear 0.1s;
}

#menu_alunos li:hover a, #menu_alunos li:hover a i {
	color: #69439a;
}

.conteudo_home_alunos {
	width: calc(100% - 300px);
	height: calc(100% - 60px);
	max-height: calc(100% - 60px);
	position: absolute;
	left: 300px;
	top: 60px;
	overflow-y: auto;
	overflow-x: hidden;
}

.conteudo_home_alunos h2 {
	font-family: Roboto;
	color: #69439a;
	font-weight: bold;
	margin: 0;
	padding: 20px;
	font-size: 2em;
	text-align: center;
}

.conteudo_home_alunos h3 {
	font-family: Roboto;
	color: #69439a;
	font-weight: bold;
	margin: 0;
	font-size: 18pt;
	text-align: left;
	margin-bottom: 10px;
}

.proximos_cursos {
	margin: 0 !important;
	padding: 20px;
}