body {
	background-color: #E6DBEC;
}

body.no-scroll {
	overflow: hidden;
}

b, strong {
	font-weight: bold !important;
}

.row.no-margin {
	margin-bottom: 0 !important;
}

.select-only .exclui_item_linha {
	display: none;
}

.select-only .select_investimento {
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0 !important;
	width: 40px !important;
	background-color: #5c478c;
	border-radius: 0 5px 5px 0;
	transition: all linear 0.1s;
}

.select-only .select_investimento:hover {
	background: #B39DDB;
}

.spaced_p {
	line-height: 150%;
	word-spacing: 2px;
	font-size: 12pt;
	text-align: justify;
	margin-bottom: 15px;
}

.cabecalho {
	/*background-color: #69439A;*/
	background-color: #5C478C;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
}

.icone_menu_cabecalho {
	font-size: 28pt;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	vertical-align: middle;
	padding: 0px 10px;
	text-align: center;
}

#logo_cabecalho {
	max-height: 60px;
}

.main_system_container {
	box-shadow: 0 1px 10px 2px rgba(0,0,0,.3);
	padding: 30px 20px;
	background-color: #fff;
	margin-top: 110px !important;
	margin-bottom: 50px !important;
}

.container_login {
	box-shadow: 0 1px 10px 2px rgba(0,0,0,.3);
	padding: 25px 20px !important;
	background-color: #fff;
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%) !important;
}

.btn.btn_table_action {
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

.btn.btn_table_action i {
	vertical-align: bottom;
	padding-right: 10px;
}

.btn_painel {
	width: 200px;
}

label {
	font-size: 1rem !important;
}

input, textarea {
	color: #5C478C;
}

.form_messages {
	margin: 10px 0;
	padding: 5px;
}

.form_messages .error {
	color: #F44336;
	font-weight: 500;
	padding: 5px 0;
}

.input-field {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.page_title, .page_minor_title {
	margin: 1.52rem 0 .912rem 0;
	margin-top: 0;
	color: #5C478C;
	font-weight: 500;
}

.page_title {
	font-size: 2.28rem;
	line-height: 110%;
}

.page_minor_title {
	font-size: 2rem;
	line-height: 100%;
}

.page_title i {
	font-size: 24pt;
	padding: 0 10px;
	vertical-align: bottom;
}

#alunos_visualizar_table {
	font-family: Roboto;
	text-align: left;
}

#alunos_visualizar_table thead {
	background-color: #5C478C;
	color: #fff;
}

#alunos_visualizar_table.has_sub_head thead {
	background-color: transparent;
	color: #5c478c;
	font-weight: bold;
	font-size: 12pt;
}

#alunos_visualizar_table td,
#alunos_visualizar_table th {
	padding: 15px;
	border-radius: 0 !important;
}

.menu_lateral_sistema li:not(:first-child):hover {
	background-color: #f2eaf7;
}

#alunos_visualizar_table.has_sub_head tbody tr {
	border: none !important;
}

#alunos_visualizar_table tbody tr {
	transition: all linear 0.2s;
	cursor: pointer;
}

#alunos_visualizar_table tbody tr:nth-child(odd) {
	background-color: #E6DBEC;
}

#alunos_visualizar_table tbody tr:nth-child(even) {
	background-color: #eee;
}

#alunos_visualizar_table tbody tr:hover {
	background-color: #dccce5;
	border-color: transparent;
}

#alunos_visualizar_table.has_info_lines tbody tr td {
	min-height: 60px;
}

#alunos_visualizar_table tbody tr.linha_mes_agenda {
	background-color: #5c478c;
	color: #fff;
	font-size: 14pt;
	font-weight: 400;
	cursor: default;
}

#alunos_visualizar_table tbody tr.linha_espaco {
	height: 30px;
	background: transparent;
	border: none !important;
	cursor: default;
}

#alunos_visualizar_table tbody tr.linha_agenda_expandir b {
	color: #5c478c;
}

.row.row_matricula_agenda,
.row.row_descricao_agenda {
	margin-bottom: 0;
}

.linha_cadastro_visualizar a:hover {
	text-decoration: underline;
}

#alunos_visualizar_table tbody tr.linha_info_agenda {
	cursor: default;
}

.linha_info_agenda p {
	color: #5c478c;
}

.btn {
	display: inline-block;
	padding: 10px 12px;
	background-color: #444;
	color: #fff;
	font-family: Roboto;
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
}

.btn_year.curyear,
.btn_year.curyear:hover {
	color: #7e57c2;
	background: transparent;
	border: 1px solid #7e57c2;
	font-weight: 600;
	box-shadow: none;
	cursor: default;
}

.linha_pagamento_turma, .linha_aula_turma, .dias_aulas_linha {
	padding: 15px 0 !important;
	border-radius: 5px;
	background-color: #7e57c2;
	margin-bottom: 10px;
	position: relative;
}
.linha_pagamento_turma label,
.linha_pagamento_turma input,
.linha_pagamento_turma select,
.linha_aula_turma label,
.linha_aula_turma input,
.linha_aula_turma select,
.dias_aulas_linha label,
.dias_aulas_linha input:not(.select-dropdown),
.dias_aulas_linha select {
	color: #fff !important;
}

.linha_aula_turma label {
	font-size: 13pt !important;
	font-weight: 500;
}

.linha_aula_turma p {
	color: #d6d6d6 !important;
}

.dias_aulas_linha p {
	color: #fff !important;
	font-size: 12pt !important;
	margin-bottom: 10px;
	font-weight: 500;
}

.dias_aulas_linha label {
	color: #d6d6d6 !important;
}

.linha_pagamento_turma i,
.dias_aulas_linha i {
	display: inline-block;
	padding: 5px 10px;
	/*background: #5C478C;*/
	position: absolute;
	right: 0;
	color: #fff;
	cursor: pointer;
	transition: all linear 0.1s;
}

.linha_pagamento_turma.linha_pagamento_inscricao {
	padding: 15px !important;
}

.linha_pagamento_turma i:hover,
.dias_aulas_linha i:hover {
	background: #B39DDB;
}

i.exclui_item_linha {
	top: 0;
	border-radius: 0 5px 0 0;
}

.aulas_turmas_info:not(:last-child) {
	margin-bottom: 10px;
}

.aulas_turmas_info label {
	display: inline-block;
	margin-bottom: 3px;
}

.check_title_container label {
	display: inline-block;
	vertical-align: sub;
}

.check_title_container label span {
	text-align: center;
	padding-left: 18px !important;
	margin-right: 10px;
}

.check_title_container .page_minor_title {
	display: inline-block;
}

#form_sistema_inscricao label {
	color: #5c478c;
}

#form_sistema_inscricao .investimentos_turma label span {
	font-size: 13pt !important;
}

.label_formas_investimento:not(:first-child) {
	margin-top: 15px;
}

.select_parcelas_investimento {
	padding-left: 47px !important;
}

.parcelas_investimento_visualizar {
	padding: 2.5px 20px;
	padding-right: 0;
}

.parcelas_investimento_visualizar .material-icons {
	vertical-align: bottom;
	font-size: 15pt;
}

table th {
	cursor: pointer;
}

table th.ordering {
	position: relative;
}

table th.ordering.asc::after, table th.ordering.desc::after {
	direction: ltr;
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}

table th.ordering.asc::after {
	content: "arrow_drop_up";
}

table th.ordering.desc::after {
	content: "arrow_drop_down";
}

.buscar_label {
	line-height: 36px;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	margin-left: 20px;
	font-size: 13pt !important;
	color: #7e57c2;
	font-weight: 700;
}

input.search_input {
	background-color: transparent;
	border: 1px solid #9e9e9e;
	border-radius: 3px;
	outline: none;
	height: 34px;
	/*width: ;*/
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
	transition: border .3s, -webkit-box-shadow .3s;
	transition: box-shadow .3s, border .3s;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
	display: inline-block;
	vertical-align: middle;
}

a.btn.btn_table_action.search_btn {
	padding: 0;
	width: 36px;
	vertical-align: middle;
	margin-right: 0;
}

a.btn.btn_table_action.search_btn i {
	padding-right: 0;
}

#dropdown_busca li {
	min-height: 45px;
}

#dropdown_busca p {
	padding: 10px;
}

#dropdown_busca p label {
	color: #5c478c;
}

.dd_trigger_busca {
	margin: 0 0 10px 0;
}

.col_busca_topo {
	padding-right: 0;
}

.display_text {
	font-size: 12pt;
	color: #7e57c2;
	padding: 15px 0;
}

i.view_icon {
    color: #7e57c2;
    transition: all linear 0.1s;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

i.view_icon:hover {
	font-size: 28px;
}

.modal_biblioteca {
	width: 70%;
	height: 90%;
	display: block;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,.3);
	padding: 20px;
}

.overlap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	background-color: rgba(0,0,0,.6);
}

.visualizar_material {
	text-align: center;
}

.visualizar_material a {
	position: relative;
	display: block;
}